*{
    box-sizing: border-box;
    padding: 0px;
    font-family: sspBolder;
}
/* ____________________________________________________________ */
.norway{
    display: none  !important;
}
.norg{
    display: block !important;
}
.containor_active{
    display: none;
}
.activcolor{
    background-color: rgba(227,113,78,.06);
    border-radius: 12px;
    color: rgb(241 97 34);
    box-shadow: 0 0 20px 0 rgb(255 218 202 / 8%);
}
.log_r{
    display: none; 
}
.sidd{
    background-color: #222;
}
.active_r{
    display: block;
}
.img_act{
    display: none ;
}
.img_actt{
    display: block !important;
}
.img_not_d{
    display: none;
}
.hamburger{
    width: 30px;
    height: 15px;
    position: relative;
    display: none;
}
.ham{
    position: absolute;
    background-color: gray;
    width: 20px;
    height: 1.5px;
    transition: all 0.3s ease-in-out;
}
#hamO{
    top: 5px;
}
.chamge #ham{
    transform: translatey(4px) rotate(145deg);
    transition: all 0.3s ease-in-out;
}
.chamge #hamO{
    transform: translatey(0px) rotate(45deg);
    transition: all 0.3s ease-in-out;
}
.res-nav{
    transform: translatex(0%) !important;
    transition: all 0.2s step-end !important;
    z-index: 3;
}
/* ________________________________________________________________ */

body{
    margin: 0px;
    width: 100%;
    position: relative;
    background-color: #fbfbfb;
}
nav{
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 10;
}
.nav-containor {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto;
}
.nav-inner-left{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-inner-right {
    width: 50%;
    display: flex;
    gap: 10px;
    justify-content: end;
}
.nav-inner-left img{
       width: 145px;
}
.nav-inner-right span img{
    width: 45px;
}
.nav-inner-right span:nth-child(2){
    cursor: pointer;
}
#log_cont p:nth-child(2){
    display: none;
}
/* __________________login________________ */
.login-containor {
    background: #00000080;
    position: fixed;
    top: 50px;
    width: 100%;
    height: 200vh;
    z-index: 1;
}
.login-row {
    max-width: 900px;
    margin: 60px auto;
    display: flex;
    border-radius: 20px;
    background-color: white;
}
.login-row-left{
    width: 50%;
    overflow: hidden;
    z-index: 1;
}
.login-row-left img {
    width: 100%;
    z-index: -1;
    padding-top: 60px;
}
.login-row-right{
    width: 50%; 
    padding: 30px 30px 30px 40px;
}
.login-row-right div:nth-child(1) img{
    width: 24px;
    float: right;
    cursor: pointer;
}
.login-row-right-top h2{
    margin: 20px 0px 10px 0px;
    opacity: 0.8;
}
.login-row-right-top p{
    opacity: 0.7    ;
}
.form{
    width: 100%;
}
.form input{
    width: 100%;
}
.form label{
    color: #ff0000;
    padding: 10px 0px;
}
.form input {
    width: 100%;
    height: 50px;
    font-size: 1.1rem;
    padding-left: 6px;
    border-radius: 10px;
    outline: none;
    border-style: none;
    border: 1px solid #ff0000;
    margin-top: 10px;
}
.form input[type="submit"] {
    background:rgb(174 174 174);
    border:1px solid rgb(174 174 174) !important;
    margin-top: 180px;
}

/* _________home index______________________ */
.page-contant {
    max-width: 1300px;
    margin: 0 auto;
    display: flex !important;
    padding-top: 85px;
}
.sectioln_A{
    padding: 0px 0px;
    width: 70%;
}
#A_options{
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: repeat(5,80px);
    justify-content: space-between;
    padding-top: 5px;
    text-align: center;
    flex-wrap: wrap;
    width: 80%;
}
#A_options div:nth-child(10) div:nth-child(1) span h4,#A_options div:nth-child(22) div:nth-child(1) span h4{
    transform: rotate(90deg);
    margin: 0px;
    font-size: 28px;
    font-weight: 100;
    font-family: monospace;
    color: #f47647;
}
#A_options div:nth-child(22) div:nth-child(1){
    transform: rotate(180deg) !important;
}
#A_options div:nth-child(10) div:nth-child(1) img,#A_options div:nth-child(22) div:nth-child(1) img{
    display: none;
}
#A-row-H h3{
    color: #222;
    font-family: sspBold;
    font-size: 1.143em;
    margin-bottom: 20px;
    padding-left:40px;
}
.A_options-card{
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin: 0px 50px;
}
.A_options-card div:nth-child(1){
    width: 68px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(216,216,216,.5);
    border-radius: 15px;
    margin: 0 auto 10px;
    padding: 14px 10px;
    position: relative;
}
.A_options-card div:nth-child(2) p:nth-child(1){
    color: #5a6876;
    font-family: sspRegular;
    font-size: 1em;
    line-height: 1.2em;
    margin-bottom: 2px;
    word-break: break-word;
}
.A_options-card div:nth-child(2) p:nth-child(2){
    color: #fa5451;
    font-family: sspBold;
    font-size: .755em;
    text-align: center;
    word-break: break-word;
}
.A_options-card div p{
    margin: 0px;
    line-height: 20px;
}
.A_options-card div img{
    height: 28px;
}
.options-left,.nav-resp {
    background-color: #fff;
    border-radius: 20px;
    height: 100vh;
    max-width: 240px;
    position: sticky;
    top: 110px;
    left: 20px;
    width: 30%;
    box-shadow: 0 0 20px 0 rgb(239 239 239 / 60%);
}
.options-left{
    height: 100% !important;
}
.nav-resp{
    position: absolute;
    max-width: 600px;
    z-index: 2;
    width: 65%;
    left: 0;
    top: 0px;
    border-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.3s ease-in-out;
}
.nav-res-cont{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #4b4b4b70;
    height: 100vh;
    overflow: hidden;
    transform: translatex(-100%);
    transition: all 0.3s ease-in-out;
    z-index: 5;
}
.options-left img,.nav-resp img{
    width: 20px;
}
.options-left ul ,.nav-resp ul {
    padding: 10px 20px;
}
.options-left li ,.nav-resp li {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 15px;
    cursor: pointer;
    margin: 20px 0px;
}
.B-options {
    display: flex;
    width: 100%;
}   
.B-options-top:nth-child(2){
    background-color: #90a5ba !important;
}
.B-options-inner{
    margin: 0px 7.5px;
    background-color: #85acaf;
    box-shadow: 0 3px 10px 0 #85acaf;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.B-options-top{
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,.1);
    display: flex;
    padding: 15px 16px 11px;
    color: #fff;
    font-size: 1em;
    width: 208px;
    line-height: 18px;
}   
.B-row {
    margin-left: 30px;
    margin-top: 50px;
    width: 80%;
    position: relative;
}
.B-options-top img{
    margin-right: 10px;
    width: 40px;
}
.B-options-bottom {
    width: 95%;
    padding: 15px 16px 11px;
    color: #fff;
    font-size: 1em;
    line-height: 18px;
    display: inline-grid;
}
.B-options-bottom button{
    border: none;
    border-radius: 15px;
    color: #222;
    cursor: pointer;
    font-size: .7em;
    margin-top: 20px;
    padding: 7px 10px 8px;
}
.C_options-card{
    width: 35%;
    margin: 0px 0px;
}
.C-row {
    background: #fff;
    border-radius: 20px;
    margin: 30px 30px 15px;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgb(239 239 239 / 60%);
    width: 80%;
}
.D-options,.E-options{
    display: flex;
    width: 100%;
    overflow: auto;
}
.E-options::-webkit-scrollbar{
    display: none;
}
.D-row,.E-row,.F-row {
    margin: 30px 30px;
    width: 80%;
    position: relative;
}
.D-options div,.E-options div{
    width: 190px;
    margin: 0px 5px;
}
.D-options div img{
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}
.E-options div img{
    border-radius: 10px;
    width: 170px;
    cursor: pointer;
}
.F-options{
    display: flex;
    width: 100%;
    overflow: auto;
}
.F-options div{
    width: 330px;
    margin: 0px 5px;
    flex: 0 0 auto;
}
.F-options::-webkit-scrollbar{
    display: none;
}
.F-options div img{
    border-radius: 20px;
    width: 100%;
}
.F-Text-continor h1{
    color: #444;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.8;
}
.F-Text-continor h2{
    color: #444;
    font-size: 1rem;
    line-height: 1.5;
}
.F-Text-continor p{
    color: #888;
    font-family: sspRegular;
    font-size: 0.8rem;
    line-height: 22px;
}
.readmore{
    display: none;
}
.nexperbtn{
    position: absolute;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 10px;
    padding-right: 14px;
    background-color: #fff;
    bottom: auto;
    opacity: .6;
    top:40%;
    z-index: 2;
    padding-bottom: 22px;
    padding-top: 22px;
    transition: all 0.3s ease-in-out;
}
.nexperbtn:hover{
    opacity: .9;
    cursor: pointer;
}
.nexperbtn span{
    font-size: 1.5rem;
    font-weight: 900;
    font-family: monospace;
}
.next{
    right: 0px;
}
.slide-containor{
    overflow: auto;
}
.slide-containor::-webkit-scrollbar{
    display: none;
}

/* ___________containor_B______________ */

.sectioln_B {
    width: 100%;
    padding: 0px 30px;
}
.lone-H{
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.lone-H div:nth-child(1){
    width: 535px;
}
.lone-H div:nth-child(1) h1{
    margin: 0px;
    color: #222;
    font-size: 44px;
    line-height: 60px;
}
.lone-H div:nth-child(1) p{
    color: #666;
    font-size: 0.9em;
    line-height: 50px;
}
.lone-H div:nth-child(1) button{
    background-color: #f74;
    border-radius: 10px;
    font-size: 1.143em;
    height: 48px;
    width: 260px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background: linear-gradient(to right, rgb(246, 105, 63) 0%, rgb(235, 131, 69) 100%);
    border: none;
}
.lone-H {
    padding: 20px 0px;
}
.lone-H div img{
    width: 210px;
}
.Featured-lone-containor h3{
    color: #222;
    font-family: sspBold;
    font-size: 1.143em;
    margin: 0 0 10px 10px;
}
.Featured-lone-card{
    display: flex;
    width: 100%;
    overflow: auto;
}
.Featured-lone-card::-webkit-scrollbar{
    display: none;
}
.Featured-lone-card div{
    width: 305px;
    margin: 0px 5px;
}
.Featured-lone-card div img{
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
}
.lone-text-containor{
    padding: 20px 0px;
}
.lone-text-containor h1{
    color: #444;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.8;
}
.lone-text-containor h2{
    margin-top: 30px;
    color: #444;
    font-size: 1.143em;
    line-height: 1.5;
}
.lone-text-containor h3{
    color: #444;
    font-size: 1.143em;
    line-height: 1.5;
}
.lone-text-containor p{
    margin-top: 5px;
    color: #888;
    font-family: sspRegular;
    font-size: 0.9em;
    line-height: 22px;
}
.lone-text-containor  ol{
    list-style-type: value;
    padding: 3px 0 0 40px;
}
.lone-text-containor ol li{
    color: #888;
    font-family: sspRegular;
    font-size: 1em;
    line-height: 22px;
    opacity: 0.8;
}
.lone-calculator{
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 26px 20px 22px 28px;
    box-shadow: 0 0 20px 0 rgb(239 239 239 / 60%);
}
.inner-calculator-continor{
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}
.calculator-left{
    width: 50%;
}
.calculator-right{
    width: 50%;
    background-color: #f9f9f8;
    border-radius: 20px;
    padding: 28px;
    text-align: left;
    margin-left: 30px;
}
.calculator-left h3{
    color: #222;
    font-size: 1.143em;
    margin-bottom: 30px;
}
.lone-list{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.lone-list span{
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    color: #666;
    cursor: pointer;
    flex: auto;
    font-size: 1em;
    margin-right: 10px;
    padding: 16px 12px;
    text-align: center;
}
.lone-list-active{
    background-color: #fff !important;
    border-color: #f74 !important;
    color: #f74 !important;
}
.lone-slider-continor{
    margin-top: 40px;
}
.lone-slide-upper-sidee{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 9px 0;
}
.lone-slide-upper-sidee label{
    color: #222;
    font-size: 1.143em;
}
.lone-value span:nth-child(1){
    background-color: #fff;
    border: 1px solid #d8d8d8;
    font-size: 1.286em;
    padding: 5px 10px;
    border-radius: 10px 0 0 10px;
    border-right: none;
    color: #1277ee;
}
.lone-value span:nth-child(2){
    border-radius: 0 10px 10px 0;
    color: #f74;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    font-family: sspBold;
    font-size: 1.286em;
    padding: 5px 10px;
}
.lone-slide-bottom-side input{
    background: linear-gradient(to right, rgb(251, 122, 69) 0%, rgb(251, 122, 69) 0%, rgba(92, 92, 92, 0.4) 0%, rgba(92, 92, 92, 0.4) 100%) !important;
    background: transparent;
    border-radius: 2px;
    height: 4px;
    margin: 14px 0 12px;
    width: 100%;
    cursor: pointer;
}
.lone-slide-upper-sidee select{
    border: none;
    color: blue;
    outline: none;
}
.min-max{
    display: flex;
    justify-content: space-between;
    padding: 0 2px;
}
.min-max span{
    color: #666;
    font-family: sspRegular;
    font-size: .857em;
}
.lone-value span img{
    width: 15px;
}
.lone-slider-continorinner{
    margin-top: 40px;
    margin-bottom: 40px;
}
/* .emi-detils{
    display: grid;
    grid-template-columns: repeat(2,1fr);
} */
.emi_amount{
    grid-column-end: 3;
    grid-column-start: 1;
    margin-bottom: 30px;
}
.emi_amount h3{
    color: #222;
    font-size: 1.143em;
    margin: 0px;
}
.emi_amount span{
    color: #f74;
    font-size: 40px;
    line-height: 40px;
    font-family: sans-serif;
    font-weight: 600 !important; 
}
.emi_amount span::before{
    vertical-align: top;
    color: #f74;
    content: "\20B9 ";
    font-size: 40px !important;
    padding-right: 5px;
}
.txt_value span:nth-child(1){
    color: #222;
    display: inline-block;
    font-size: 1em;
    margin-bottom: 5px;
}
.txt_value span:nth-child(2){
    color: #222;
    display: block;
    font-size: 25px !important;
    font-weight: 600;
    font-family: sans-serif;
    line-height: 28px;
}
.txt_value{
    margin-bottom: 40px;
    width: 40%;
}
.txt_value span:nth-child(2)::before{
    color: #222;
    content: "\20B9 ";
    font-size: 25px !important;
    padding-right: 5px;
}
.pie-chart{
    display: none;
}
.pie-chart canvas{
    display: block;
    box-sizing: border-box;
    height: 200px;
    width: 200px;
}
.emi-detils-S{
    margin-top: 20px;
}
.emi-detils-S-inner{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.emi-detils-S-inner p{
    color: #222;
    font-size: 1.143em;
    line-height: 18px;
    margin-right: 10px;
    width: 80%;
}
.emi-detils-S-inner button{
    background: #f74;
    border: none;
    color: #fff;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    min-width: 160px;
    padding: 15px 20px;
}
.emi-detils-S-inner button span {
    font-family: monospace;
    font-size: 20px;
}
.emi-detils-S p{
    margin-top: 20px;
    color: #5e5e5e;
    font-size: .857em;
    line-height: 1.5;
}

/* ________________sectioln_E page-containor recharg containor______________ */

.sectioln_E{
    width: 80%;
    margin: 0 25px;
}
.section_E-inner_side-top{
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 20px 0 rgb(239 239 239 / 38%);
    margin-bottom: 20px;
    padding: 20px 34px 0;
}
.recharg-top-header{
    width: 100%;
}
.recharg-top-header-img-area{
    float: left;
    height: 45px;
    margin-right: 15px;
    margin-top: 5px;
}
.recharg-top-header-img-area img{
    max-height: 45px;
    max-width: 45px;
}
.main-R-heading{
    color: #222;
    font-size: 1em;
    font-weight: 100;
    opacity: 0.9;
}
.main-R-sub-heading{
    color: #222;
    font-size: 1.1em;
    line-height: 28px;
    opacity: 0.9;
}
.recharg-top-header-right-img img{
    max-height: 210px;
    position: absolute;
    right: 50px;
    top: 160px;
    width: 200px;
}
.section_E-inner_side-top form{
    max-width: 400px;
    padding: 45px 0 40px;
}
.section_E-inner_side-top form input{
    background: #fff;
    font-size: 1.286em;
    height: 50px;
    appearance: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    color: rgb(34, 34, 34);
    line-height: 14px;
    padding: 14px 0px 14px 13px;
    width: 100%;
    outline: none;
    margin-bottom: 10px;
}
.section_E-inner_side-top form input:focus{
    border-color: rgb(227, 113, 77);
    border-width: 1px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.recgarg-fild-disp-{
    color: #666;
    font-size: .8em;
    line-height: 15px;
    margin-bottom: 20px;
}
.rechrg-bist-submit input{
    box-shadow: 0 6px 14px 0 rgb(255 119 68 / 50%);
    margin-top: 15px;
    max-width: 150px;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    background: linear-gradient(to right, rgb(246, 105, 63) 0%, rgb(235, 131, 69) 100%) !important;
    border: none !important;
    border-radius: 10px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    font-family: system-ui;
    height: 54px;
    color: rgb(255, 255, 255) !important;
}







/* ___________containor_B end______________ */
/* __________________________footer____________ */
footer{
  width: 100%;
  background-color: #fafafa;
  padding-bottom: 50px;
}
.foot-inner{
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}
.footer-nav{
    display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
#ulist{
    list-style: none;
    line-height: 30px;
}
#ulist li a{
    text-decoration: none;
    color: black;
    opacity: 0.8;
    font-size: 1em;
}
#ulist li a:hover{
    color: #ff0000;
}
.PayBills{
    display: flex;
    flex-wrap: wrap;
}
.fooot-icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.fooot-icons div{
    width: 20%;
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.fooot-icons div:nth-child(2){
    width: 30% !important;
}
.fooot-icons div:nth-child(3){
    width: 40% !important;
}
.fooot-icons div span{
    width: 50%;
}
.fooot-icons div:nth-child(1) span img{
    width: 90%;
}
.fooot-icons div:nth-child(2) span img{
    width: 50%;
}
.fooot-icons div:nth-child(3) span img{
    width: 300px;
}
.foot-bottom{
    display: flex;
    align-items: center;
}
.foot-bottom p{
    width: 68%;
    font-size: 0.8rem;
}
.foot-bottom img{
    width: 55px;
    height: 17px;
}
.home-menu{
    bottom: 0px;
    width: 100%;
    background-color: white;
    border-radius: 30px 30px 0 0;
    left: 0;
    padding: 5px 20px;
    position: fixed;
    right: 0;
    z-index: 2;
    -webkit-box-shadow: 0 -5px 8px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 -5px 8px 0 rgba(0,0,0,.1);
    box-shadow: 0 -5px 8px 0 rgb(0 0 0 / 10%);
    display: none;
}
.home-menu-inner ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}
.home-menu-inner ul li img {
    width: 20px;
}
.home-menu-inner ul li {
    display: flex;
    gap: 10px;
    align-items:end;
}














@media  screen and (max-width: 1100px){
    .sectioln_B {
        width: 80%;
    }
}
@media  screen and (max-width: 900px){
    .sectioln_B {
        width: 70%;
    }
}

@media  screen and (max-width: 800px) {
    .fooot-icons div:nth-child(2){
        width: 50% !important;
    }
    .fooot-icons div:nth-child(1) span img{
        width: 80%;
    }
    .fooot-icons div:nth-child(){
        width: 50% !important;
    }
    .fooot-icons div{
        width: 50% !important;
    }
    .login-row-left{
        display: none;
    }
    .login-row-right {
            width: 100%;
            padding: 30px 20px 35px 20px;
    }
    .login-row-right div:nth-child(1) img {
        float: left;
    }
    .login-row-right-top h2 {
        margin: 40px 0px 10px 0px;
    }
    #log_cont p:nth-child(2){
        display: block;
    }
    #log_cont p:nth-child(1){
        display: none;
    }
    .nav-inner-right span:nth-child(1){
        display: none;
    }
    .nav-inner-right span:nth-child(2) {
        border: 1px solid #e3714d;
        padding: 0px 20px;
        display: block;
        border-radius: 10px;
        line-height: 8px;
    }
    .options-left {
        display: none;
    }
    .hamburger{
        display: inline-block;
        z-index: 5 !important;
    }
    .sectioln_A{
        width: 95%;
    }
    .home-menu{
        display: block;
    }
    #A_options{
        grid-template-columns: repeat(3,80px);
        width: 100%;
    }
    .B-row{
        width: 100%;

    }
    .A_options-card{
        margin: 0 15px;
    }
    .C-row {
        width: 100%;
        margin: 30px 15px 15px;
    }
    .D-row,.E-row,.F-row{
        width: 100%;
        margin: 30px 15px;
    }
    .F-Text-continor{
        width: 100%;
    }
    .readmore{
        display: block;
    }
    .form input[type="submit"]{
        margin-top: 100px;
    }
    #readmorearea{
        display: none;
    }
    .B-row {
        width: 96%;
        margin-left: 15px;
    }
    .nexperbtn{
        display: none;
    }
    .sectioln_B {
        width: 100%;
    }
    .Featured-lone-card div{
        width: 100%;
    }
    .sectioln_E{
        width: 100%;
    }
    .recharg-top-header{
        display: none;
    }
    .recharg-top-header-right-img{
        display: none;
    }
    .section_E-inner_side-top form {
        max-width: 100%;
    }
}
@media  screen and (max-width: 500px){
    .E-options div img {
        width: 80px;
    }
    .lone-H div:nth-child(2) {
        display: none;
    }
    .Featured-lone-card div{
        width: 100%;
    }
    .Featured-lone-card div img{
        width: 250px;
    }
    .Featured-lone-card{
        overflow: auto;
    }
    .Featured-lone-card::-webkit-scrollbar{
        display: none;
    }
}